@font-face { font-family: 'Archer'; src: url('../assets/fonts/baveuse.ttf'); } 

body {
	background-image: url('../images/sterling_archer_plain_white_stencil_by_heinpold-d5v0yaa.png');
	background-size: auto auto;
	padding-bottom: 70px;
	/*background-color: #F2E800;*/
	background-color: #4E5D6C;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Archer';
}

/*header { 
	background-color: #bf5a16; 
}*/
.jumbotron {
	background-color: transparent;
	text-align: center;
}

footer {
	text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: #ffffff;
}